body {
    background-color: #212529;
    font-family: 'OpenSans-Regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: white;
    padding-left: auto;
    padding-right: auto;

}



h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
}

h3 { 
    font-size: 18px;
    line-height: 24px;
    color: #dc3545;

}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 20px;
}

.subtitle {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:0px 80px;
    font-size: 26px;
    line-height: normal;
    text-align: center;
    
}
.page-wrapper {

    padding-top: 40px;

}

/*  Navbar  */

.navbar {
 max-width: 100%;
 width: 1200px;
 margin-left: auto;
 margin-right: auto;

 
}

.navbar-inner {
height: 55px;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 40px;
}

.navbar-inner-left {
    flex-grow: 1;
}

.navbar-inner-left a {
    color: #dc3545;
}

.navbar-inner-right {
    width: 20%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
   
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #dc3545;
}

/*  Page content */

.page-section {

    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.contact-page-inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 48px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    height: auto;

}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page-inner-flex {
display: flex;

}


.page-inner-left {

    width: 50%;
    max-width: 100%;
}

.page-inner-hero-img-wrap {
    overflow: hidden;
    height: 600px;
    margin-bottom: 20px;
    background-image: url(images/IMG_2245.JPG);
    background-size: cover;
    background-position: 0px -200px;
}

.page-inner-right {

    max-width: 100%;
    padding-left: 34px;
    flex: 1;
}


.cards-block {
    
    width: 500px;
    display:flex;
    justify-content: flex-start;

}

.card-item {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 200px;
    background: black;
    color: white;
    padding: 20px 20px;
    position: relative;
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #dc3545;
  margin-right: 20px;
}

.card-item a {
    color: white;
    font-weight: 700;
    text-decoration: underline;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    
    
}
.card-image {

    height: 200px;
    width: 100%;
    object-fit: cover;
    
}

.card-title {

    font-size: 22px;
    line-height: normal;
    font-weight: 500;
}

/* Form  */

.form-input {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 49%;

}

.form-list {
    list-style-type: none;
    width: auto;
    padding: 0;

}

.form-input.msg {
width: 100%;
}

.form-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-submit-button {
    height: 53px;
    padding: 10px,15px;
}

.form-clear-button {
    
    padding: 15px 50px;
    font-weight: 600;
    font-variant: normal;
    color: white;
    background-color: #dc3545;
    border-radius: 4px;
    border: none;
    margin-top: 20px;

}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="text"] {
   height: 40px;
   border-radius: 4px;
   border: solid 1px gray;
   font-size: 15px;
   padding-left: 20px;
   margin-bottom: 10px;
}

input[type="email"] {
    height: 40px;
    border-radius: 4px;
    border: solid 1px gray;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
 }

 input[type="submit"] {
    padding: 15px 50px;
    font-weight: 600;
    width: 100%;
    font-variant: normal;
    color: white;
    background-color: black;
    border-radius: 4px;
    border: none;
    margin-top: 20px;

 }
 
 


    @media screen and (max-width:899px) {


        .navbar-inner {
            justify-content: center;
        }
        .page-inner-flex {

            flex-direction: column;
        }

        .page-inner-left {
            width: 100%;
            margin-bottom: 34px;
        }

        .page-inner-right {
            padding-left: 0px;
        }
        
        .page-inner-hero-img-wrap {
            background-position: 0px -200px;
        }

        .cards-block {
            flex-wrap: wrap;
            width: auto;
            justify-content: flex-start;
        }

        .card-item {
            margin-right: 0;
            margin-bottom: 20px;
            
        }

    @media screen and (max-width:845px) {

        ..container {
            height: auto;
        }

        .page-inner-left {
            margin-bottom: 15px;
        }

        .page-inner-hero-img-wrap {
            background-position: 0px 0px;
        }

        .contact-page-inner {
            flex-direction: column-reverse;
        }

        .form-top {
            flex-direction: column;
        }

        .form-input {
            width: 100%;
        }

        .subtitle {
            padding: 0px;
            font-size: 1em;
        }

        .navbar-inner-right {
            width: auto;
        }
        
        .nav-links {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 414px) {

        .card-item {
            width: 100%;
            max-width: none;

        }
        
    }