body {
    background-color: grad;
    font-family: 'Karla variablefont wght', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding-left: auto;
    padding-right: auto;

}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
}

h3 { 
    font-size: 18px;
    line-height: 24px;
    color: #1d1d1d;

}

a {
    color: #e26a2b;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-wrapper {

    padding-top: 40px;

}

/*  Navbar  */

.navbar {
 max-width: 100%;
 width: 900px;
 margin-left: auto;
 margin-right: auto;

 
}

.navbar-inner {
height: 55px;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 40px;
}

/*  Page content */

.page-section {

    max-width: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.page-inner {
    width: 100%;
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    height: 100vh;
}

.page-inner-flex {
display: flex;
}


.page-inner-left {

    width: 50%;
    max-width: 100%;
}

.page-inner-hero-img-wrap {
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    background-image: url(images/IMG_2245.JPG);
    background-size: cover;
    background-position: 0px 0px;
}

.page-inner-right {

    max-width: 100%;
    padding-left: 34px;
    flex: 1;
}


    @media screen and (max-width:899px) {


        .navbar-inner {
            justify-content: center;
        }
        .page-inner-flex {

            flex-direction: column;
        }

        .page-inner-left {
            width: 100%;
            margin-bottom: 34px;
        }

        .page-inner-right {
            padding-left: 0px;
        }
        
        .page-inner-hero-img-wrap {
            background-position: 0px -200px;
        }

    @media screen and (max-width:555px) {

        .page-inner {
            height: auto;
        }

        .page-inner-left {
            margin-bottom: 15px;
        }

        .page-inner-hero-img-wrap {
            background-position: 0px 0px;
        }
    }