body {
    background-color: grad;
    font-family: 'Poppins';
    padding-left: auto;
    padding-right: auto;

}

.page-wrapper {

    padding-top: 40px;

}

/*  Navbar  */

.navbar {
 max-width: 100%;
 width: 900px;
 margin-left: auto;
 margin-right: auto;

 
}

.navbar-inner {
height: 55px;
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 40px;
}

/*  Page content */

.page-section {

    max-width: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.page-inner {
    width: 100%;
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    height: 100vh;
}

.page-inner-flex {
display: flex;
}



.page-inner-left {

    width: 50%;
    max-width: 100%;
}

.page-inner-right {
    width: 50%;
    max-width: 100%;
}


    @media screen and (max-width:635px) {

   

    @media screen and (max-width:320px) {

        
    }